/********   Start of Global    ********/
/********   Start of Global    ********/
/*Use throughout the app to center align something*/
.center {
  text-align: center;
}

/*Use on the App.js file to set the background color to a light grey 
and inital height to the screen size*/
.appBackground {
  background-color:#ECE7E7;
  height: 101vh;
}

/*This is use throughout the app to add whitespace to the margin above a element*/
.aboveWhiteSpace {
  margin-top: 3vh;
}

/*This is used throughout the app to set the color to blue*/
.blueColor {
  color: navy;
}
/********   End of Global    ********/


/********   Start of Point Component    ********/
/*Is use in the Display and DisplayButton components to set the font size*/
.displayData {
  font-size: 5vh; 
}

/*Used on the Display component to align to the right the state being displayed like current point*/
.rightAlignData {
  text-align: center;
}

/*Used on the DisplayButton component to left align the "Add to Bet" button*/
.leftAlignData {
  text-align: left;
}

/*Change the position of the data props associated Display componets*/
@media screen and  (min-width:1020px){
  .rightAlignData {
    text-align: left;
  }

  .leftAlignData {
    margin-left: 0 !important;
  }  
}

/*CSS use to show a rising dollar sign when the user wins a round*/
.risingDollarSign {
  animation-name: rising;
  animation-duration: 1s;
  animation-iteration-count: 1;
  color:gold;
}

/*CSS use to show a rising dollar sign when the user lose a round*/
.losingMoneySign {
  animation-name: rising;
  animation-duration: 1s;
  animation-iteration-count: 1;
  color:red;
}

/*CSS use to show a rising dollar sign when the user wins or lose a round*/
@keyframes rising {
  0% {font-size: 6vh};
  20% {font-size: 10vh};
  60% {font-size: 15vh};
  100% {font-size: 20vh};
}
/********   End of Point Component    ********/

/********   Start of Dice Component    ********/
/*right align the left dice*/
.leftDice {
  text-align: right;
}

/*left align the right dice*/
.rightDice {
  text-align: left;
}

/*CSS use to show a rolling dice at the start of a round*/
.leftRollingDice {
  animation-name: bounce;
  animation-duration: .8s;
  animation-iteration-count:infinite;  
}

/*CSS use to show a rolling dice at the start of a round*/
.rightRollingDice {
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count:5;  
}

/*CSS use to show a rolling dice bouncing up and down*/
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

/********   End of Dice Component    ********/

/********   Start of Button Component    ********/
/*Set the primary button text font and to align to the center*/
.buttonStyle {
  text-align: center;
  font-size: 10vh;
}

.buttonTextColor {
  color: black;
}
/********   End of Button Component    ********/

/********   Start of Bankrupt Component    ********/
.bankrupt {
  background-color:white;
  height: 101vh;
}

.buttonGameOverColor {
  color: red;
}
/********   End of Instructions Component    ********/
